
/*--------------COLOR SCHEME------------------
#FEEC9D : Canary
#FECDE9 : Classic Rose
#FB86A1 :Tickle Me Pink
#832644: Dark Raspbery
#BF5956: Bittersweet Shimmer

--------------------FONTS----------------------
font-family: "RobotoRegular";
font-family: "AlexBrushRegular";
*/



html{
    font-family: "RobotoRegular", Optima, Arial, sans-serif;
}



h1{
    font-family: "RobotoRegular", Optima, Arial, sans-serif;
    font-size: 6vw;
    padding: 20px 0 20px;
}

h2{
    font-size: 5vw;
    font-family: "RobotoRegular", Optima, Arial, sans-serif;
    margin: 0;
    padding: 10px 0 10px;
    display: block;
    border-bottom-style: dotted;
    border-bottom-color: black;
}

h3{
    font-size: 4vw;
}

h1, h2, h3, h4{
    text-align: center;
}

p{
    padding-bottom: 10px;
    margin: auto;
    font-size: 2vw;
}

section {
    padding-bottom: 20px;
}

img{
    max-width: 45vw;
    float: left;
    margin: auto;
    padding-right: 20px;
}

.inspiration{
    padding: 0;
    margin: 0;
    /*background-color: #FB86A1;*/
    background-image: linear-gradient(white, #FB86A1);
}

.top-pic{
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    max-width: 45vw;
    background-color: #FB86A1;
    
}

.side-text{
    display: inline-block; 
    margin: 0;
    padding: 0;
    background-color: #FB86A1;

}

.wrap {
    margin: 0 auto;
    width: 60vw;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

header{
}

header h1{
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0 100px;
    color: #832644;
}

footer{
   /* background: #BF5956;*/
    background-image: linear-gradient(#FECDE9, #BF5956);
    padding: 30px;
    margin: 0;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    text-align: center;
    margin: 0;
}

.hobbies{
    /*background: #FEEC9D;*/
    background-image: linear-gradient(#FB86A1, #FEEC9D);
    
}

.working{
    /*background: #FECDE9;*/
    background-image: linear-gradient(#FEEC9D, #FECDE9);
}

.selected{
    color: white;
}

.disc div:hover{
    color: #FEEC9D;
}



/*
ul.mynav{
    margin: 0;
    display: inline-block;
    padding: 0;
    
}

ul.mynav li{
    display: inline-block;
    margin: 0;
    background: #832644;
    padding: 0;
}

ul.mynav li a{
    text-align: center;
    display: block;
    width: 13vw;
    padding: 30px 0px;
    text-decoration: none;
    color: #FEEC9D;
}

ul.mynav li a:hover{
    background-color: #FECDE9;
    color: black;
}
*/
